*{
    padding: 0;
    margin: 0;
}

.bg-switcher{
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.bg-switcher img{
    width: 900px;
    display: flex;
    align-items: center;
    margin : 0 auto;
}

.bg-switcher p{
    font-size: 45px;
    text-align: center;
    margin-top: 42px;
    color: #fff;
    font-family: Futura;
}

.fadein{
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s;
}

nav{
    position: relative;
    top: 30px;
    left: 1100px;
    width: 100%;
    margin-bottom: 200px;
}

nav ul{
    display: flex;
}

nav li{
    list-style: none;
    font-family: Futura;
}

nav a{
    color: #fff;
    font-size: 26px;
    text-decoration: none;
    margin-left: 30px;
    display: flex;
    align-items: flex-end;
}

nav a:hover{
    color: #3d5cdb;
    transition: 0.5s;
}

.title{
    font-size: 50px;
    color: #3d5cdb;
    text-align: center;
    font-family: Futura;
    padding: 60px;
}

.intro-content{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.intro-content img{
    width: 500px;
}

.intro-content-box{
    width: 400px;
    padding: 20px 80px 30px 50px;
    text-align: center;
}

.intro-content-box p{
    line-height: 30px;
    margin-bottom: 40px;
    text-align: left;
    font-family: 'MS PGothic', sans-serif;
}

.btn-001{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #3d5cdb;
    padding: 10px 50px;
    border-radius: 10px;
}

.btn-001:hover{
    box-shadow: 0px 0px 5px #606060;
}

.btn-002{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #ffbf00;
    padding: 10px 50px;
    border-radius: 10px;
}

.btn-002:hover{
    box-shadow: 0px 0px 5px #606060;
}

#courses{
    background-color: #d6e5f9;
}

#particles-js{
    height: 100vh;
    width: 100vw;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.courses{
    margin : 0 auto;
    width: 1200px;
}

.courses {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .course {
    background-color: #fff;
    width: 200px;
    height: 250px;
    margin: 20px;
    border-radius: 10px;
    padding: 60px 20px 20px;
    display: block;
    box-shadow: 0 0 0 #000;
    text-align: center;
  }

.course img{
    margin-bottom: 40px;
    height: 100px;
}

.course p{
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 15px;
}

.course a{
    list-style: none;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 10px;
}

.btn:hover{
    box-shadow: 0px 0px 5px #606060;
}

.btn-html{
    background-color: #f1652a;
}

.btn-css{
    background-color: #28a9df;
}

.btn-unity{
    background-color: #333333;
}

.btn-ruby{
    background-color: #ff5252;
}

.btn-js{
    background-color: #fed702;
}

.btn-swift{
    background-color: #fe7536;
}

.btn-go{
    background-color: #73cedd;
}

#images{
    height: 50vh;
}

.images{
    width: 1340px;
    margin: 0 auto;
}

.images img{
    height: 230px;
}

.slick-prev{
    color: #000;
}

.map{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.map iframe{
    width: 600px;
    height: 450px;
}

footer{
    padding: 30px;
}

footer p{
    color: #3d5cdb;
    text-align: center;
    font-family: Futura;
}



/*レスポンシブ化*/

/*スマホ縦*/
@media screen and (max-width: 480px){

.bg-switcher{
    display: block;
    width: 400px;
}

.bg-switcher img{
    width: 70vw;
    margin-top: 300px;
}

.bg-switcher p{
    font-size: 20px;
}

.title{
    font-size: 30px;
    text-align: center;
}

.intro-content{
    flex-direction: column;
}

.content-2{
    flex-direction: column-reverse;
}

.intro-content img{
    width: 90vw;
    margin: 0 auto;
}

.intro-content-box{
    padding: 45px;
    width: 80vw;
    text-align: center;
}

.intro-content-box p{
    font-size: 13px;
}

#courses{
    height: 1300px;
}

.courses{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.course{
    flex-basis: 140px;
    height: 200px;
    background-color: #ffffff;
    display: block;
    padding: 30px 10px 0px;
  }

.course img{
    margin-bottom: 10px;
    height: 10vh;
}

.course p{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
}

.course a{
    width: 20vw;
    padding: 10px;
}

.images{
    width: 80vw;
    margin: 0 auto;
}

#access{
    height: 80%;
    margin-top: 100px;
}

.map iframe{
    height: 300px;
}

}